input,
select,
.custom-select .custom-select-label-wrapper,
textarea {
    height: 45px;
    padding: var(--inset-md);
    background-color: var(--color-black-90);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-sm);
    color: var(--color-text-primary);
    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-md);
    width: 100%;
    transition: all 0.25s ease;
}

input:focus,
input:hover,
select:focus,
select:hover,
.custom-select .custom-select-label-wrapper:hover,
textarea:focus,
textarea:hover {
    outline: none;
    border-color: var(--color-border-secondary);
}


input[type="button"],
input[type="submit"],
button {
    height: 45px;
    padding: 0 20px;
    background-color: var(--color-white-100);
    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-md);
    line-height: 1.25;
    font-weight: 500;
    color: var(--color-black-100);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;

    transition: all 0.25s ease
}

input[type="button"]:hover,
input[type="button"]:hover:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
    background-color: var(--color-white-90);
}

input[type="button"].button-sm,
input[type="submit"].button-sm,
button.button-sm {
    height: 35px;
}

input[type="button"].secondary,
input[type="submit"].secondary,
button.secondary {
    color: var(--color-priority-high-100);
    border: 1px solid var(--color-priority-high-100);
    background-color: var(--color-priority-high-10);
}

.custom-select {
    width: 100%;
    position: relative;
}

.custom-select .custom-select-label-wrapper {
    user-select: none;
}

.custom-select .custom-select-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-black-95);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-sm);
    margin-top: var(--inset-xs);
    padding: var(--inset-md) var(--inset-sm);
    z-index: 10;
}

.custom-select.open .custom-select-dropdown {
    display: block;
}

.custom-select .custom-select-dropdown .custom-select-option {
    padding: var(--inset-sm) var(--inset-md);
    border-radius: var(--border-radius-sm);
    transition: all 0.25s ease;
}

.custom-select .custom-select-dropdown .custom-select-option:hover,
.custom-select .custom-select-dropdown .custom-select-option.selected {
    background-color: var(--color-black-90);
    cursor: pointer;
}